#listBox .navBox {
  text-align: left;
  height: 30px;
  padding-left: 5px;
  line-height: 30px; }
  #listBox .navBox span {
    font-size: 18px;
    color: orange; }
  #listBox .navBox p {
    display: inline-block;
    font-size: 12px;
    margin-left: 3px; }

#listBox ul {
  overflow: hidden;
  padding-right: 5px; }
  #listBox ul li {
    list-style: none;
    float: left;
    width: 50%;
    padding-left: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    font-size: 10px; }
    #listBox ul li .roomShow {
      position: relative; }
      #listBox ul li .roomShow img {
        width: 100%;
        height: 100px;
        display: block;
        border-radius: 5px; }
      #listBox ul li .roomShow .icoTop {
        width: 100%;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: right;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.8) 100%);
        color: white;
        border-radius: 5px 5px 0 0; }
      #listBox ul li .roomShow .icoBottom {
        width: 100%;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-indent: 5px;
        text-align: left;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.8) 100%);
        color: white;
        border-radius: 0 0 5px 5px; }
    #listBox ul li p {
      font-size: 12px;
      text-align: left;
      height: 20px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

#listBox .footBox {
  margin: 5px;
  border: 1px solid #999;
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #999; }
