html,body{
	margin:0;
	padding:0;
}

#home{
	.home-title{position: fixed;z-index: 100;width: 100%;top: 0;background: #fff;
			.search-ico{height: 50px;line-height: 50px; width: 15%;}
			.icon-magnifier{font-size: 20px;color:#000;height: 50px;}
			.navbar-classify{width: 10%;height: 50px;margin-top: 15px;}
	}
	header{margin-top: 100px;
		.headerStyle{
			h3{
				padding: 5px;
				font-weight:normal;
				box-sizing:border-box;
				height:40px;
				line-height:40px;
				div{
					width: 50%;
					float:left;
					text-align:left;
					height: 40px;
					span{
						color:#f70;
						font-size:24px;
						margin-top:5px;
					}
					b{
						font-weight:normal;
						font-size:16px;
						
					}
				}
				p{
					width: 50%;
					float:right;
					text-align:right;
					span{
						color:#ccc;
						font-size:18px;
					}
					b{
						font-weight:normal;
						font-size:16px;
						margin-right:10px;
						color:#ccc;

					}
				}

			}
			ol{
			width: 100%;
			padding:10px 5px 0 0; 
			overflow:hidden;
			box-sizing: border-box;
			li{
				list-style:none;
				float:left;
				width: 50%;
				padding-left:5px;
				padding-bottom:5px;
				box-sizing:border-box;
				font-size:10px;
				.headerRoomshow{
					position: relative;
					img{
						width:100%;
						height: 100px;
						display: block;
						border-radius:5px;
					}
					.headericoTop{
						width: 100%;
						height: 20px;
						line-height:20px;
						font-size:12px;
						position: absolute;
						top: 0;
						left:0;
						text-align:right;
						background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.8) 100%);
						 background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.8) 100%);
						 background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.8) 100%); 
						color:white;
						border-radius: 5px 5px 0 0;
					}
					.headericoBottom{
						width: 100%;
						height: 20px;
						line-height:20px;
						font-size:12px;
						position: absolute;
						bottom: 0;
						left:0;
						text-indent:5px;
						text-align:left;
						background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.8) 100%);
						 background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.8) 100%);
						 background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.8) 100%); 
						color:white;
						border-radius: 0 0 5px 5px;
					}
				}
				p{
					font-size:12px;
					text-align:left;
					height:20px;
					line-height:20px;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
				}
			}
			}
		}
		.headerLive{
			h3{
				p{
					b{
						i{
							font-style:normal;
							color:#f70;
						}
					}
					span{

						width: 14px;
						height: 14px;
						text-align: center;
						line-height: 14px;
						border-radius: 50%;
						background: #ccc;
						color: #fff;
						display: inline-block;
						margin-left: 5px;						
					}
				}
			}
		}
		.headerYz{
			h3{
				div{
					span{
						color:#ff5e81;
						font-size:16px;
					}
				}
				p{
					span{
						width: 14px;
						height: 14px;
						text-align: center;
						line-height: 14px;
						border-radius: 50%;
						background: #ccc;
						color: #fff;
						display: inline-block;
						margin-left: 5px;
					}
				}
			}
			ol{
				li{
					div{
						.yzIco{
							width: 45%;
							height: 20px;
							line-height:20px;
							font-size:12px;
							position: absolute;
							top: 5px;
							right:5px;
							text-align:center;
							background: rgba(0,0,0,.5); 
							color:white;
							border-radius: 3px;
						}
						.meinv{
							height: 180px;
						}
					}
					p{
						width: 50%;
						float:left;
					}
					b{
						width: 50%;
						font-weight:normal;
						float:right;
						font-size:12px;
						text-align:right;
						height:20px;
						line-height:20px;
					}
				}
			}
		}
	}	
	main{
		box-sizing:border-box;
		.room{
			width:100%;
			margin-top: 10px;
			h3{
				font-weight:normal;
				padding: 5px;
				box-sizing: border-box;
				width: 100%;
				height: 40px;
				line-height: 40px;

				p{
					position:relative;
					float:left;
					width: 30%;
					img{
						width:20%;
						position:absolute;
						transform:translateY(-50%);
						top:50%;
						left:0;
					}
					b{
						margin-left:20px;
						font-weight:normal;
					}
				}
				i{
					font-style:normal;
					float:left;
					width: 50%;
					height:100%;
					overflow:hidden;
					display:block;
					box-sizing:border-box;
					span{
						float:left;
						margin-left: 10px;
						padding: 6px;
						height: 6px;
						line-height: 6px;
						margin-top: 10px;
						font-size: 10px;
						border:1px solid orange;
						border-radius: 21px;
					}
				}
				
				div{
					font-weight: normal;
					float:right;
					color: #ccc;
					font-size: 14px;
					width: 20%;
					b{
						width: 14px;
						height: 14px;
						text-align: center;
						line-height: 14px;
						border-radius: 50%;
						background: #ccc;
						color: #fff;
						display: inline-block;
						margin-left: 5px;
					}
				}
			}


			ul{
				width: 100%;
				padding:10px 5px 0 0; 
				overflow:hidden;
				box-sizing: border-box;

				li{
					list-style:none;
					float:left;
					width: 50%;
					padding-left:5px;
					padding-bottom:5px;
					box-sizing:border-box;
					font-size:10px;
					.hoomRoomshow{
						position: relative;
						img{
							width:100%;
							height: 100px;
							display: block;
							border-radius:5px;
						}
						.homeicoTop{
							width: 100%;
							height: 20px;
							line-height:20px;
							font-size:12px;
							position: absolute;
							top: 0;
							left:0;
							text-align:right;
							background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.8) 100%); 
							color:white;
							border-radius: 5px 5px 0 0;
						}
						.homeicoBottom{
							width: 100%;
							height: 20px;
							line-height:20px;
							font-size:12px;
							position: absolute;
							bottom: 0;
							left:0;
							text-indent:5px;
							text-align:left;
							background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.8) 100%); 
							color:white;
							border-radius: 0 0 5px 5px;
						}
					}
					p{
						font-size:12px;
						text-align:left;
						height:20px;
						line-height:20px;
						overflow: hidden;
						text-overflow:ellipsis;
						white-space: nowrap;
					}
				}
			}
			
		}
	}
	footer{
		width:100%;
		padding: 30px;
		box-sizing:border-box;
		div{
			width: 100%;
			height: 45px;
			line-height: 45px;
			color: #999;

		}
		.box2{
			background: #f70;
			border-radius: 5px;
			color: #fff;
			margin-bottom: 20px;
		}
		p{
			font-size: 10px;
			padding-top:5px;
			color: #999; 
		}
	}
}