#search{
	.search-hot{position: fixed;
		h3{padding-left: 10px;
			text-align: left;
		    line-height: 55px;
		    font-size: 14px;
		    color: #333;
		    border-bottom: 1px solid #eee;
		}
		ul.search-hot-list{
			width: 100%;
    		font-size: 14px;
   			color: #333;
    		height: 220px;
    		li{
	    		width: 50%;
	    		float: left;
	    		box-sizing: border-box;
			    padding: 10px 10px;
			    overflow: hidden;
			    word-break: break-all;
			    -o-text-overflow: ellipsis;
			    text-overflow: ellipsis;
			    span.ico{
			    	display: block;
			    	background: #ccc;
			    	float: left;
			    	width: 20px;
			    	text-align: center;
			    	height: 20px;	
			    	line-height: 20px; 
			    	margin-right: 25px;
			    	border-radius: 2px;
			    	font-size: 10px;   	
			    }
			    p.text{
			    	text-align: left;
			    	font-size: 10px; 
			    	height: 20px;	
			    	line-height: 20px;
			    }
			}
		}
	}

}

.searchPage-nav{margin-top: 10px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	box-sizing: border-box;
	padding: 0;
	.am-tabs-default-bar-top .am-tabs-default-bar-tab, .am-tabs-default-bar-bottom .am-tabs-default-bar-tab{
		padding: 0;
	}
}