.search-all h3.search-title {
  font-weight: normal;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  line-height: 40px; }
  .search-all h3.search-title p {
    position: relative;
    float: left;
    width: 30%; }
    .search-all h3.search-title p img {
      width: 20%;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0; }
    .search-all h3.search-title p b {
      margin-left: 20px;
      font-weight: normal; }
  .search-all h3.search-title i {
    font-style: normal;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: block;
    box-sizing: border-box; }
    .search-all h3.search-title i span {
      float: left;
      margin-left: 10px;
      padding: 6px;
      height: 6px;
      line-height: 6px;
      margin-top: 10px;
      font-size: 10px;
      border: 1px solid orange;
      border-radius: 21px; }
  .search-all h3.search-title div {
    font-weight: normal;
    float: right;
    color: #ccc;
    font-size: 14px;
    width: 20%; }
    .search-all h3.search-title div b {
      width: 14px;
      height: 14px;
      text-align: center;
      line-height: 14px;
      border-radius: 50%;
      background: #ccc;
      color: #fff;
      display: inline-block;
      margin-left: 5px; }

.search-all .search-all-cate {
  overflow: hidden;
  clear: both; }
  .search-all .search-all-cate ul {
    padding: 10px;
    box-sizing: border-box; }
    .search-all .search-all-cate ul li {
      box-sizing: border-box;
      width: 25%;
      height: 70px;
      padding: 0 5px 20px;
      margin-bottom: 20px;
      /* margin: 0 2% 5px; */
      position: relative;
      display: inline-block;
      float: left; }
      .search-all .search-all-cate ul li img {
        display: block;
        padding: 0;
        margin: 0;
        width: 70px;
        height: 70px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }

.search-all .search-all-anchor {
  overflow: hidden;
  clear: both; }
  .search-all .search-all-anchor ul {
    padding: 10px;
    box-sizing: border-box; }
    .search-all .search-all-anchor ul li {
      width: 25%;
      box-sizing: border-box;
      height: 107px;
      padding: 0 5px 20px;
      margin-bottom: 20px;
      /* margin: 0 2% 5px; */
      position: relative;
      display: inline-block;
      float: left; }
      .search-all .search-all-anchor ul li img {
        display: block;
        padding: 0;
        margin: 0;
        width: 70px;
        height: 70px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
      .search-all .search-all-anchor ul li p {
        width: 100%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
        font-size: 11px;
        color: #999;
        margin-top: 5px;
        text-align: left; }
      .search-all .search-all-anchor ul li .nickname {
        font-size: 12px;
        color: #333;
        margin-top: 8px; }
    .search-all .search-all-anchor ul li:before {
      content: " ";
      display: inline-block;
      background-image: url("/img/playing.png");
      width: 56px;
      height: 17px;
      top: 0;
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      -moz-background-size: 100% 100%;
      background-size: 100% 100%; }

.search-all .search-all-live {
  overflow: hidden;
  clear: both; }
  .search-all .search-all-live ul {
    padding-right: 5px;
    clear: both; }
    .search-all .search-all-live ul li {
      list-style: none;
      float: left;
      width: 50%;
      padding-left: 5px;
      padding-bottom: 5px;
      box-sizing: border-box;
      font-size: 10px; }
      .search-all .search-all-live ul li .roomShow {
        position: relative; }
        .search-all .search-all-live ul li .roomShow img {
          width: 100%;
          height: 100px;
          display: block;
          border-radius: 5px; }
        .search-all .search-all-live ul li .roomShow .icoTop {
          width: 100%;
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          position: absolute;
          top: 0;
          left: 0;
          text-align: right;
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.8) 100%);
          color: white;
          border-radius: 5px 5px 0 0; }
        .search-all .search-all-live ul li .roomShow .icoBottom {
          width: 100%;
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          position: absolute;
          bottom: 0;
          left: 0;
          text-indent: 5px;
          text-align: left;
          background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.8) 100%);
          color: white;
          border-radius: 0 0 5px 5px; }
      .search-all .search-all-live ul li p {
        font-size: 12px;
        text-align: left;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .search-all .search-all-live ul li:before {
      content: " ";
      display: inline-block;
      background-image: url("/img/playing.png");
      width: 56px;
      height: 17px;
      z-index: 10;
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      -moz-background-size: 100% 100%;
      background-size: 100% 100%; }
